apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-data
  namespace: redhat-ods-applications
  labels:
    app: postgres
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: "{{ ocp4_workload_openshift_ai_maas_postgres_storage }}"
