apiVersion: v1
kind: Secret
metadata:
  name: maas-db-config
  namespace: redhat-ods-applications
  labels:
    app: postgres
type: Opaque
stringData:
  DB_CONNECTION_URL: >-
    postgresql://{{ ocp4_workload_openshift_ai_maas_postgres_user }}:{{ _ocp4_workload_openshift_ai_maas_postgres_password }}@postgres.redhat-ods-applications.svc:5432/{{ ocp4_workload_openshift_ai_maas_postgres_db }}?sslmode=disable
