apiVersion: v1
kind: Secret
metadata:
  name: postgres-creds
  namespace: redhat-ods-applications
  labels:
    app: postgres
type: Opaque
stringData:
  POSTGRES_USER: "{{ ocp4_workload_openshift_ai_maas_postgres_user }}"
  POSTGRES_DB: "{{ ocp4_workload_openshift_ai_maas_postgres_db }}"
  POSTGRES_PASSWORD: "{{ _ocp4_workload_openshift_ai_maas_postgres_password }}"
