apiVersion: v1
kind: Secret
metadata:
  name: "{{ item.name }}-api-key"
  namespace: external-models
  labels:
    inference.networking.k8s.io/bbr-managed: "true"
type: Opaque
stringData:
  apiKey: "{{ item.api_key }}"
